.ui.two.column.middle.aligned.relaxed.fitted.stackable.vertically.padded.grid
    .column
        .ui.error.message(v-if="errors.length > 0"): ul.list
            li(v-repeat="message: errors") {{* message}}

        .ui.form.segment(
            v-component="{{currentView}}"
            v-class="loading: isLoading"
            keep-alive
        )

    .ui.vertical.divider OR

    .center.aligned.column: .ui.vertical.massive.icon.labeled.buttons
        div(
            v-repeat="provider: providers"
            class="ui {{provider}} button"
            v-on="click: authProvider(provider, $event)"
        )
            i(class="{{provider}} icon")
            | {{* provider | capitalize}}