.ui.two.column.middle.aligned.relaxed.fitted.stackable.vertically.padded.grid
    .column
        .ui.error.message(v-if="hasErrors"): ul.list
            li(v-repeat="errors") {{* $value}}

        .ui.form.segment(
            v-component="{{currentView}}"
            v-class="loading: isLoading"
            keep-alive
        )

    .ui.vertical.divider OR

    .center.aligned.column: .ui.vertical.massive.icon.labeled.buttons
        div(
            v-repeat="provider: providers"
            class="ui {{provider}} {{ provider === 'google' ? 'plus' : '' }} button"
            v-on="click: authWithProvider(provider, $event)"
        )
            i(class="{{provider}} icon")
            | {{currentView | capitalize}} with {{* provider | capitalize}}
